*{
    margin: 0;
    padding: 0;
}
body{
    height: 1000px;
    position: absolute;
}

.portada{
    background-color: rgb(255, 255, 255);
    width: 100%;
}

.foto{
    width: 80%;
    align-items: center;
}

.escuela{
     background-color: rgb(253, 109, 109);
    width: 80%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: nowrap;

    

   
}

.logo{
    width: 90px;
    
    border: 2px solid black;
}